table{
    border-collapse: collapse;
    margin: 0px;
}

td,th{
    text-align: center;
    border: 2px solid black;
    border-collapse: separate;
    margin: 0;
    padding: 0;
    
}
th{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    text-align: left;
    font-size: 12px;
}
td{
    width: 25px;
    height: 7px;
}

.primeira-coluna{
    text-align: left;
    font-size: 12px;
    
}
td:hover{
    background-color: black;
    width: 50px;
    font-weight: bold;
}