table{
    border-collapse: collapse;
}

td,th{
    text-align: center;
    border: 2px solid black;
    border-collapse: separate;
    margin: 0;
    padding: 0;
}
th{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    text-align: left;
    font-size: 12px;
}
.primeira-coluna{
    text-align: left;
    font-size: 12px;
}