*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: aquamarine;
}
header{
    margin: 15px;
    text-align: center;
    padding: 15px;
}

h1{
    color: red;
    text-decoration: underline;
    margin: 15px auto;
    text-align: center;
}

.tabela-completa{
    overflow-x: auto;
    margin: auto;
}

#tabela{
    width: 80%;
    border-collapse: collapse;   
}

th{ 
    position: sticky;
    top:0px;
    height: 35px;
    border: solid 1px black;
    background-color: black;
    color: white;
}
th:not(.primeira-coluna){ /*exceçõa*/
    transform: rotate(-90deg);
}

td{
    width: 18px;
    height: 18px;
    text-align: center;
    border: 1px solid black;
    font-size: 16px;
}

.primeira-coluna:not(th){    
    width: 150px;
    height: 18px;
    text-align: left;
}

.tabela-completa>tr:nth-child(2n){
    background-color: rgb(132, 148, 132);
}


