*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body{
    background-color: aqua;
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
}

.placar-completo{
    border: 1px solid black;
    width: 350px;
    
    text-align: center;
    padding: 15px;
    background-color: beige;
}

h2{
    text-align: center;
    width: 400px;
}