*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body{
    background-color: aqua;
}

.placar-completo{
    border: 1px solid black;
    width: 350px;
    
    text-align: center;
    padding: 15px;
    background-color: beige;
}